# Latex Stuff
*.synctex.gz
*.log
*.aux
*.toc
*.glo
*.ist
*.out

# Images
**/images/upload/*.png
**/images/upload/*.jpeg
**/images/upload/*.jpg
**/images/upload/*.bmp

#StyleLint and Node
*/package.json
*/node_modules
*/package-lock.json
*/.stylelintrc.json