/* Font and default styles */
@font-face {
  font-family: ahyp;
  src: url("../fonts/AtkinsonHyperlegible-Regular.ttf");
}

body,
p,
h1,
h2,
ul,
input,
figure,
a {
  margin: 0;
  padding: 0;
  font-family: ahyp, 'Courier New', Courier, monospace;
  font-size: unset;
  text-decoration: unset;
  font-weight: unset;
}

/* Navbar and footer styles */
nav,
body > footer {
  background-color: #801524;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Navbar layout */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

/* Navbar menu */
nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

nav>ul:first-of-type{
  margin-left: 1%;
}

nav>ul:last-of-type{
  margin-right: 1%;
}

nav > ul:last-of-type > li{
  cursor: pointer;
}

nav > ul:last-of-type > li:last-of-type{
  display: none;
}

nav img {
  height: 40px;
  width: 40px;
}

nav > ul > li > a {
  color: white;
}

/* Footer styles */
body > footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  height: 50px;
}

/* Main content styles */
main {
  margin: 2%;
  margin-bottom: 15%;
}

/* Login section */
main[data-access] {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #801524;
}

main[data-access] > h1 {
  font-size: 40px;
  font-weight: bold;
}

main[data-access] > form {
  width: 100%;
}

main[data-access] > form > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main[data-access] > form > ul > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

main[data-access] label {
  width: 40%;
  padding: 8px;
  font-size: 25px;
}

main[data-access] input {
  width: 40%;
  padding: 8px;
  border: 2px solid #801524;
  border-radius: 5px;
  font-size: 20px;
  color: #801524;
  text-align: center;
}

main[data-access] input[type="submit"] {
  color: white;
  background-color: #801524;
  width: 15%;
  height: 50px;
  font-size: large;
}

main[data-access] > form > ul > li:last-child {
  font-size: larger;
}

main[data-access] > form > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #801524;
}

main[data-access] > form > p:first-of-type {
  text-align: center;
  font-weight: bold;
  margin: 3%;
}

/* Customer's home page and articles */
main[data-home] article > header > figure {
  width: 150px;
  height: 150px;
}

main[data-home] article > header > figure > img {
  height: inherit;
  width: inherit;
}


/* Customer's Profile page */
main[data-profile] {
  display:flex;
  flex-direction:row-reverse;
  gap:20px;
}

main[data-profile] aside{
  height: 500px;
  width: 30%;
  background-color: #801524;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

main[data-profile] section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

main[data-profile] h1{
  color: #801524;
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

main[data-profile] section > form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

main[data-profile] section > form > ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


main[data-profile] section > form > ul > li{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 45px;
  border: 2px, #801524, solid;
  border-radius: 10px;
}

main[data-profile] section > form > ul > li > label {
  width: 30%;
  background-color: #801524;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main[data-profile] section > form > ul > li > input{
  width: 70%;
  text-align: center;
  border: none;
  border-radius: 10px;
}

main[data-profile] section > form > input {
  border-style: outset;
  margin: 5px;
  color: #801524;
  cursor: pointer;
  border: none;
  background-color: white;
  text-decoration: underline;

}

main[data-profile] a{
  display: none;
}
main[data-profile] aside > a {
  font-size: 20px;
  height: 30px;
  color: white;
  display: flex;
  text-decoration: underline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

/* Mobile version styles */
@media (max-width: 768px) {
  nav[data-open="false"] > ul:first-of-type{
    display: none;
  }

  /* Navbar opened */
  nav[data-open="true"] > ul:first-of-type {
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50px;
    width: 60%;
    gap:10px;
    background-color: #801524;
    text-align: center;
    padding-top: 50px;
    gap: 20px;
    font-size: larger;
  }

  nav > ul:last-of-type > li:last-of-type{
    display:unset
  }

  main[data-access] input{
    width: 60%;
  }

  main[data-access] input[type="submit"]{
    width: 40%;
  }

  /* Customer's home page and articles */
  main[data-home] article > header > figure {
    width: 60px;
    height: 60px;
  }

  main[data-profile]{
    display: flex;
    flex-direction: column;
  }
  main[data-profile] section{
    width: 100%;
  }

  main[data-profile] aside{
    display: none;
  }

  main[data-profile] a {
    font-size: 20px;
    height: 30px;
    color: #801524;
    display: flex;
    text-decoration: underline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
}
