/* Font and default styles */
@font-face {
  font-family: ahyp;
  src: url("../fonts/AtkinsonHyperlegible-Regular.ttf");
}

body,
p,
h1,
h2,
ul,
input,
a {
  margin: 0;
  padding: 0;
  font-family: ahyp, 'Courier New', Courier, monospace;
  font-size: unset;
  text-decoration: unset;
  font-weight: unset;
}

/* Navbar and footer styles */
nav,
body > footer {
  background-color: #801524;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Navbar layout */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

/* Navbar menu */
nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

nav>ul:first-of-type{
  margin-left: 1%;
}

nav>ul:last-of-type{
  margin-right: 1%;
}

nav > ul:last-of-type > li:last-of-type{
  display: none;
}

nav img {
  height: 40px;
  width: 40px;
}

nav > ul > li > a {
  color: white;
}

/* Footer styles */
body > footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  height: 50px;
}

/* Main content styles */
main {
  margin: 5%;
  margin-bottom: 15%;
}

/* Login section */
main[data-access] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #801524;
}

main[data-access] > h1 {
  font-size: 40px;
  font-weight: bold;
}

main[data-access] > form {
  width: 100%;
}

main[data-access] > form > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main[data-access] > form > ul > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

main[data-access] label {
  width: 40%;
  padding: 8px;
  font-size: 25px;
}

main[data-access] input {
  width: 40%;
  padding: 8px;
  border: 2px solid #801524;
  border-radius: 5px;
  font-size: 20px;
  color: #801524;
  text-align: center;
}

main[data-access] input[type="submit"] {
  color: white;
  background-color: #801524;
  width: 15%;
  height: 50px;
  font-size: large;
}

main[data-access] > form > ul > li:last-child {
  font-size: larger;
}

main[data-access] > form > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #801524;
}

main[data-access] p[error] {
  text-align: center;
  font-weight: bold;
  margin: 3%;
}

/* Mobile version styles */
@media (max-width: 768px) {
  nav[data-open="false"] > ul:first-of-type{
    display: none;
  }

  /* Navbar opened */
  nav[data-open="true"] > ul:first-of-type {
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50px;
    width: 60%;
    gap:10px;
    background-color: #801524;
    text-align: center;
    padding-top: 50px;
    gap: 20px;
    font-size: larger;
  }

  nav > ul:last-of-type > li:last-of-type{
    display:unset
  }

  main[data-access] input{
    width: 60%;
  }

  main[data-access] input[type="submit"]{
    width: 40%;
  }
}
